h2 {
    margin-left: 2rem;
    font-size: 3rem;
    color: #003737;
}

.line {
    width: 17rem;
    height: 1rem;
    border-radius: 0% 1rem;
    margin-left: 2rem;
    margin-bottom: 3rem;
    background-color: #639595;
}

.about_us {
    display: grid;
    grid-template-columns: 25% 70%;
    gap: 10%;
    margin-left: 7rem;
}

.about__me {
    place-items: center;
    border-radius: 2rem;
}

.about__me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(0);
    transition: var(--transition);

}

.about__me-image:hover {
    transform: rotate(20deg);
}

.about_content {
    color: #003737;
    font-size: 1.9rem;
    font-weight: 700;
}

/*============== MEDIA QUERIES(MEDIUM DEVICES) =========*/
@media screen and (max-width: 1024px) {}

/*============== MEDIA QUERIES(SMALL DEVICES) =========*/
@media screen and (max-width: 600px) {}